<div class="content-wrapper">



  {{#equal "admin" user.role}}

  <h3>Welcome {{user.profile.name}}</h3>

  <form class="form-recent" action="/user/search" method="GET">
    <input type="text" placeholder="Search.." name="query">
    <button>Search</button>
  </form>
  <hr>

  <div class="users-preview">
    <h3>Latest activated Users:</h3>
    {{#each userList}}
    <div class="user-preview">
      <div class="img-section"> <img src="{{this.profile.image}}" alt="user image"> </div>
      <div class="content-section">
        <h3>{{this.profile.name}} {{this.profile.surname}}</h3>
        <h4>Activated at: {{formatDate this.activatedAt "short"}}</h4>
        <a href="/user/{{this.id}}">View details</a>

      </div>
    </div>
    {{/each}}
  </div>
  {{/equal}}




  {{#equal "user" user.role}}
  <h3>Welcome {{user.profile.name}}</h3>
  <h4>Job search</h4>

  <form class="form-recent" action="../jobs/jobs-search/queries" method="GET">
    <input type="text" placeholder="Search.." name="job">
    <button>Search</button>
  </form>
  <hr>
  <div class="jobs-preview">
    <h3>Latest added Jobs:</h3>
    {{#each jobsList}}
    <div class="job-preview">
      <div class="img-section"> <img src="{{this.image}}" alt="job icon"> </div>
      <div class="content-section">
        <h3>{{this.title}}</h3>
        <h4>{{this.city}}</h4>
        <a href="/jobs/{{this.id}}">View details</a>
        <button class="favorites" id="{{this.id}}">Add to favourites</button>
      </div>
    </div>
    {{/each}}
    {{/equal}}

    {{#equal "moderator" user.role}}
    <h3>Welcome {{user.profile.name}}</h3>

    <form class="form-recent" action="/jobs-search" method="GET">
      <input type="text" placeholder="Search.." name="job">
      <button>Search</button>
    </form>
    <hr>
    <div class="jobs-preview">
      <h4>Latest added Jobs:</h4>
      {{#each jobsList}}
      <div class="job-preview">
        <div class="img-section"> <img src="{{this.image}}" alt="job icon"> </div>
        <div class="content-section">
          <h3>{{this.title}}</h3>
          <h4>{{this.city}}</h4>
          <a href="/jobs/{{this.id}}">View details</a>
        </div>
      </div>
      {{/each}}
    </div>
    {{/equal}}



  </div>