<div class="content-wrapper">

    <h3>Welcome {{user.profile.name}}</h3>

    <form class="form-recent" action="/jobs/jobs-search" method="GET">
      <input type="text" placeholder="Search.." name="job">
      <button>Search</button>
    </form>

    <div class="jobs-preview">
      {{#each jobRecentList}}
      <div class="job-preview">

        <div class="img-section"> <img src="{{this.image}}" alt="job icon"> </div>
        <div class="content-section"> 
          <h3>{{this.title}}</h3>
          <h4>{{this.city}}</h4>
          <a href="/jobs/{{this.id}}">View details</a>
        </div>
       
      </div>
      {{/each}}
    </div>


</div>

