<div class="content-wrapper" >
  <form class="profile" action="/user/{{user._id}}/edit" method="post" style="position: relative;">
    
    <div class="profile">
      <div class="profile-head">
        <img src="{{user.profile.image}}" alt="">
        <div class="profile-intro">
          <input type="text" name="profile.name" value="{{user.profile.name}}" class="h2">  
          <input type="text" name="profile.surname" value="{{user.profile.surname}}" class="h2">
          <div class="nm-text bold">Course: 
            <select name="profile.course" id="profileCourse">
              <option value="Data" {{#equal "Data" user.profile.course}}selected{{/equal}}>Data</option>
              <option value="UX/UI" {{#equal "UX/UI" user.profile.course}}selected{{/equal}}>UX/UI</option>
              <option value="WebDev" {{#equal "WebDev" user.profile.course}}selected{{/equal}}>WebDev</option>
            </select>
          <div class="nm-text  italic">Batch:  </div>
          <select name="profile.batch.month" id="">
            <option value="January" {{#equal "January" user.profile.batch.month}}selected{{/equal}}>January</option>
            <option value="Febuary" {{#equal "Febuary" user.profile.batch.month}}selected{{/equal}}>Febuary</option>
            <option value="March" {{#equal "March" user.profile.batch.month}}selected{{/equal}}>March</option>
            <option value="April" {{#equal "April" user.profile.batch.month}}selected{{/equal}}>April</option>
            <option value="May"  {{#equal "May" user.profile.batch.month}}selected{{/equal}}>May</option>
            <option value="June" {{#equal "June" user.profile.batch.month}}selected{{/equal}}>June</option>
            <option value="July" {{#equal "July" user.profile.batch.month}}selected{{/equal}}>July</option>
            <option value="August" {{#equal "August" user.profile.batch.month}}selected{{/equal}}>August</option>
            <option value="September" {{#equal "September" user.profile.batch.month}}selected{{/equal}}>September</option>
            <option value="October" {{#equal "October" user.profile.batch.month}}selected{{/equal}}>October</option>
            <option value="November"{{#equal "November" user.profile.batch.month}}selected{{/equal}}>November</option>
            <option value="December" {{#equal "December" user.profile.batch.month}}selected{{/equal}}>December</option>
          </select>
          <input type="number" value="{{user.profile.batch.year}}" name="profile.batch.year">
          </div>
        </div>
      </div>  
      <div class="profile-body">
        <div class="nm-text bold">// Portfolio:</div>
        <div class="portfolio">
  

            <input type="url" value="{{user.profile.portfolio}}" placeholder="https://your-site.com" name="profile.portfolio">
      
          
        </div>
        <div class="nm-text bold">// Techstack:</div>
          <div class="tech-stack">
            
              {{#if user.profile.techStack}}
              {{#each user.profile.techStack}}
                  <div class="item {{category}}" id="{{category}}"> {{category}}: {{rate}} / 5  <img src="/images/close-btn-dark.svg" class="killer">
                  </div>
              {{/each}}
              {{/if}}
          
        </div>
        <div class="nm-text text-italic">Add to Stack:</div>
        
          <div class="flex-row align-center no-margin">
            <input type="text" name="techstack-name" id="category-name" style="flex: 1 1 70%" placeholder="Category"> 
            <input type="number" name="techstack-rate" min="1" max="5" id="category-rate" placeholder="Rate: 1 to 5" style="width: 20px;flex: 1 1 15%">
            <div style="display: flex; justify-content: center; align-items: center; flex: 1 1 20%"><p>/ 5</p></div> 
          </div>
            <div class="btn btn-secondary" style="flex: 1 1 0" id="addToStack">+ Add </div>
        <div class="nm-text bold">// Current Job:</div>
        <div class="cv">
            {{#if user.profile.cv}}
            {{#each user.profile.techStack}}
                <div class="item"> {{jobTitle}}</div>
                <div class="item"> @: <a href="{{companyUrl}}"> {{company}}</a></div>
                <div class="item"> </div>
            {{/each}}
            {{/if}}

            <div id="cv-input-wrapper">
              <input type="text" name="jobTitle" placeholder="Job Title" id="cv-input-job-title">
              <div class="company" style="display: flex;align-items:center">
                <input type="text" name="company" placeholder="Company"id="cv-input-compay" >
                <input type="url" name="companyUrl" placeholder="Company Domain" id="cv-input-company-url">
              </div>
              <div class="startDate" style="display: flex;align-items:center; flex-grow: 1; margin-left: 1rem;"><label for="cv-input-start-date">Start: </label><input type="date" name="startDate" id="cv-input-start-date"></div>
            </div>
        </div>
      </div>
      <button type="submit" >Save</button>
  </form>
</div>
