<div class="content-wrapper">
  <h3>My Favorite Jobs</h3>
  {{#if jobList}}
  <div class="jobs-preview">
    {{#each jobList}}
      <div class="job-preview">
        <div class="img-section"> <img src="{{this.image}}" alt="job icon"> </div>
        <div class="content-section">
          <h3>{{this.title}}</h3>
          <h4>{{this.city}}</h4>
          <a href="/jobs/{{this.id}}">View details</a>
          <button class="favorites" id="{{this.id}}">Add to favs</button>
        </div>
      </div>
      {{/each}}
  </div>
  {{else}}
    <h2>No jobs saved.</h2>
  {{/if}}
</div>