<div class="content-wrapper">
  {{#if allowed}}
  <div class="edit">
    {{!-- <span class="nm-text italic">edit profile:</span>  --}}
    <a href="/user/{{member._id}}/edit">  <img class="edit-button" src="/images/edit-btn.svg" alt="edit button" ></a>
  </div>
    {{/if}}
  <div class="profile">
    
    <div class="profile-head">
      <img src="{{member.profile.image}}" alt="">
      <div class="profile-intro">
         <div class="h2"> {{member.profile.name}} {{member.profile.surname}}</div>
        <div  class="nm-text "> Job: {{member.profile.cv.[0].jobTitle}}</div>
        <div class="nm-text italic">Company: {{member.profile.cv.[0].company}}</div>
        <div class="nm-text bold">Course: {{member.profile.course}}</div>
        <div class="nm-text  italic">Batch: {{member.profile.batch.month}} / {{member.profile.batch.year}} </div>
        <a href="mailto:{{member.email}}"><button>Send me a message!</button></a>
      </div>
    </div>
    <div class="profile-body">
    <div class="nm-text bold">Portfolio:</div>
  <div class="portfolio">
      {{#if member.profile.portfolio}} 
    <div class="item" id="portfolio-link">
      <a class="bold"  href="{{member.profile.portfolio}}">{{member.profile.portfolio}}</a>
    </div>
    {{else}}
    <div class="item" id="portfolio-link">
      ...
    </div>
    {{/if}} 
  </div>
  <div class="nm-text bold">Techstack:</div>
    <div class="tech-stack">
      
        {{#if member.profile.techStack}}
        {{#each member.profile.techStack}}
            <div class="item"> {{category}}: {{rate}} / 5</div>
        {{/each}}
        {{else}}
        <div class="item"> ... </div>
        {{/if}}
    </div>
      <div class="nm-text bold">Current Job:</div>
    <div class="cv">
        {{#if member.profile.cv}}
   
            <div class="item"><h3>Job Title: {{member.profile.cv.[0].jobTitle}}</h3></div>
            <div class="item">Company: <a href="{{member.profile.cv.[0].companyUrl}}"> {{member.profile.cv.[0].company}}</a></div>
            <div class="item"> Since: {{formatDate member.profile.cv.[0].startDate "short"}}</div>
        {{else}}
        
        <div class="item"> ... </div>
        {{/if}}
    </div>
  </div>

</div>

</div>