<div class="content-wrapper">
  <div class="profile">
    <div class="profile-head">
      <img src="{{profile.image}}" alt="">
      <div class="profile-intro">
       <span> {{profile.name}} {{profile.surname}}</span>
        {{#if profile.profolio}} Website: <a href="{{profile.portfolio}}">{{profile.portfolio}}</a>{{/if}} 
      </div>
    </div>
  </div>
</div>