<div class="content-wrapper">



  
  <div class="header flex-row">
    <form class="form-recent" action="/jobs/jobs-search/queries" method="GET" style="flex: 1 1 0;"r>
    <h3>Search for a Job</h3>
      <input type="text" placeholder="Search.." name="job">
      <button>Search</button>
    </form>
    </div>
    <div class="create-job" style="flex: 1 1 0; ">
      <h3>Create a Job</h3>
      <a href="/jobs/new" style="display: flex; color: white;"><div class="btn btn-secondary"> Create a Job</div></a>


  </div>
  
  <hr>
  {{#if jobSearchList}}
  <div class="jobs-preview">
    <h3>Results</h3>
    
    {{#each jobSearchList}}
    <div class="job-preview">
      <div class="img-section"> <img src="{{this.image}}" alt="job icon"> </div>
      <div class="content-section">
        <h3>{{this.title}}</h3>
        <h4>{{this.city}}</h4>
        <a href="/jobs/{{this.id}}">View details</a>
        <button class="favorites" id="{{this.id}}">Add to favs</button>
      </div>
    </div>
    {{/each}}
    {{else}}
    <h2>{{message}}</h2>
    {{/if}}


  </div>