<div class="content-wrapper">
<div class="job-profile">
<div class="job-profile-head">

    <img src="{{jobInfo.image}}" alt="Image of {{jobInfo.company}}" id="job-profile-image" style="border-radius: unser;">
    <div class="job-profile-intro">
      <div class="h2">{{jobInfo.title}}</div>
      <div class="nm-text bold">{{jobInfo.category}}</div>
      <div class="nm-text bold">{{jobInfo.location.country}} {{jobInfo.location.city}}</div>
    </div>
  </div>
  <div class="nm-text bold">Contract type: {{jobInfo.contractType}}</div>
    <div class="nm-text bold">Company:</div>

   <a href="{{jobInfo.companyUrl}}"><div class="nm-text bold">{{jobInfo.company}}</div></a>
  <div class="nm-text bold">Job description</div>
  <p style="word-wrap: break-word" class="nm-text">{{jobInfo.description}}</p>
  <div class="nm-text italic">Created by <a href="/user/{{jobInfo.author._id}}">{{jobInfo.author.profile.name}}
      {{jobInfo.author.profile.surname}} </a></div>
  {{#if user}}
  <div class="admin">
    <a style="display: inline" href="/jobs/{{jobInfo._id}}/edit">Edit this job</a> |
    <a style="display: inline" href="/jobs/{{jobInfo._id}}/delete">Delete this job</a>
  </div>
  {{/if}}


  <a href="mailto:{{jobInfo.author.email}}"><button id="reply-butt">Apply</button></a>
  <button class="favorites" id="{{jobInfo.id}}">Add to favourites</button>

</div>
</div>